@font-face {
  font-family: 'Chau Philomene One';
  font-style: normal;
  font-weight: 400;
  src: url(55xxezRsPtfie1vPY49qzdgSlJiHRQFcm4Z-.eot)/*tpa=http://fonts.gstatic.com/s/chauphilomeneone/v7/55xxezRsPtfie1vPY49qzdgSlJiHRQFcm4Z-.eot*/;
}
