@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMQw.eot)/*tpa=http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMQw.eot*/;
}
